@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*background-image: url("../photo-1509803874385-db7c23652552.jpeg");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}