<template>
  <v-dialog v-model="shareDialog">
    <v-card
        :loading="isUpdating"
        color="blue-grey-darken-1"
        class="mx-auto"
        max-width="420"
        min-width="450"
    >
      <template v-slot:loader="{ isActive }">
        <v-progress-linear
            :active="isActive"
            color="green-lighten-3"
            height="4"
            indeterminate
        ></v-progress-linear>
      </template>

      <v-img
          cover
          height="200"
          :src="shareModalbg"
      >
        <v-row class="pa-3">
<!--          <v-col cols="12">-->
<!--            <v-menu-->
<!--                location="bottom start"-->
<!--                origin="overlap"-->
<!--                transition="slide-y-transition"-->
<!--            >-->
<!--              <template v-slot:activator="{ props }">-->
<!--                <v-btn-->
<!--                    v-bind="props"-->
<!--                    icon="mdi-dots-vertical"-->
<!--                    density="comfortable"-->
<!--                    variant="tonal"-->
<!--                ></v-btn>-->
<!--              </template>-->

<!--              <v-list :lines="false">-->
<!--                <v-list-item-->
<!--                    title="Update"-->
<!--                    @click="isUpdating = true"-->
<!--                ></v-list-item>-->
<!--              </v-list>-->
<!--            </v-menu>-->
<!--          </v-col>-->

          <v-row>
            <v-col class="text-center">
<!--              <h3 class="text-h5">{{ name }}</h3>-->

<!--              <span class="text-grey-lighten-1">{{ title }}</span>-->
            </v-col>
          </v-row>
        </v-row>
      </v-img>

      <v-form>
        <v-container>
          <v-row dense>
<!--            <v-col cols="12" md="6">-->
<!--              <v-text-field-->
<!--                  v-model="name"-->
<!--                  :disabled="isUpdating"-->
<!--                  color="blue-grey-lighten-2"-->
<!--                  label="Name"-->
<!--              ></v-text-field>-->
<!--            </v-col>-->

<!--            <v-col cols="12" md="6">-->
<!--              <v-text-field-->
<!--                  v-model="title"-->
<!--                  :disabled="isUpdating"-->
<!--                  color="blue-grey-lighten-2"-->
<!--                  label="Title"-->
<!--              ></v-text-field>-->
<!--            </v-col>-->

            <v-col cols="12">
              <v-autocomplete
                  v-model="usersAlreadyShared"
                  :disabled="isUpdating"
                  :items="people"
                  chips
                  closable-chips
                  color="blue-grey-lighten-2"
                  item-title="name"
                  item-value="name"
                  label="Select"
                  multiple
                  @update:search="handleChange"
              >
                <template v-slot:chip="{ props, item }">
                  <v-chip
                      v-bind="props"
                      :prepend-avatar="item.raw.avatar"
                      :text="item.raw.name"
                      @click:close="unshare(item)"
                  ></v-chip>
                </template>

                <template v-slot:item="{ props, item }">
                  <v-list-item
                      v-bind="props"
                      :prepend-avatar="item?.raw?.avatar"
                      :title="item?.raw?.name"
                      :subtitle="item?.raw?.group"
                  ></v-list-item>
                </template>
              </v-autocomplete>
            </v-col>
          </v-row>
        </v-container>
      </v-form>

      <v-divider></v-divider>

<!--      <v-card-actions>-->
<!--        <v-switch-->
<!--            v-model="autoUpdate"-->
<!--            :disabled="isUpdating"-->
<!--            class="mt-0 ms-2"-->
<!--            color="green-lighten-2"-->
<!--            density="compact"-->
<!--            hide-details-->
<!--            label="Auto Update"-->
<!--        ></v-switch>-->

<!--        <v-spacer></v-spacer>-->

<!--        <v-btn-->
<!--            :disabled="autoUpdate"-->
<!--            :loading="isUpdating"-->
<!--            :variant="isUpdating ? 'tonal' : undefined"-->
<!--            color="blue-grey-lighten-3"-->
<!--            prepend-icon="mdi-update"-->
<!--            @click="isUpdating = true"-->
<!--        >-->
<!--          Update Now-->
<!--        </v-btn>-->
<!--      </v-card-actions>-->
    </v-card>
  </v-dialog>













  <div class="dashboard tw-w-full tw-bg-amber-200">
    <v-table>
      <thead>
      <tr>
        <th class="text-left">
          Name
        </th>
        <th class="text-left">
          Size
        </th>
        <th class="text-left">
          Action
        </th>
<!--        <th class="text-left">-->
<!--          Modified-->
<!--        </th>-->
<!--        <th class="text-left">-->
<!--          Sharing-->
<!--        </th>-->
      </tr>
      </thead>
      <tbody>
      <tr
          v-for="item in fileList"
          :key="item.name"
      >
          <td class="tw-text-left tw-w-[45%]" @click="enterFolder(item.type,item.name)">{{ item.name }}</td>
          <td class="tw-text-left">{{ item.size }}</td>
          <td class="tw-text-left">
            <v-btn type="submit" color="info" class="tw-w-0" @click="download(item.link, item.name)"><v-icon>mdi-cloud-download</v-icon></v-btn>
            <v-btn type="submit" color="info" class="tw-w-0 ml-1" @click="openShareModal(item.name)"><v-icon>mdi-share</v-icon></v-btn>
          </td>
<!--          <td class="tw-text-left">-->
<!--            <v-btn variant="text">-->
<!--              <v-icon>mdi-share-variant</v-icon>-->
<!--              shared-->
<!--            </v-btn>-->
<!--          </td>-->
          <td class="tw-text-left">{{ item.modified }}</td>

      </tr>
      </tbody>
    </v-table>
  </div>
</template>
<script>
import axios from "axios";
import {saveAs} from 'file-saver';
import {createClient} from 'webdav';
import {de, th} from "vuetify/locale";
import {toRaw} from "vue";

export default {
  name: 'MainDashboard',
  components: {},
  data() {
    return {
      shareModalbg: require("@/assets/background_with_logo-1024x683.jpg"),
      selectedFileNameFromFileList: "",
      shareDialog: false,
      shareDialog1: true,
      autoUpdate: true,
      // friends: ['Sandra Adams', 'Britta Holt'],
      usersAlreadyShared: [],
      usersAlreadySharedBackup: [],
      isUpdating: false,
      name: 'Midnight Crew',
      people: [],
      title: 'The summer breeze',
      timeout: null,















      apiBasicAuth: {
        username: localStorage.getItem("user_id"),
        password: localStorage.getItem("password"),
      },
      fileList:[],
      clouds: [
        {
          name: 'Frozen Yogurt',
          size: 159,
          modified: '2 months ago'
        },
        {
          name: 'Ice cream sandwich',
          size: 237,
          modified: '2 months ago'
        },
        {
          name: 'Eclair',
          size: 262,
          modified: '2 months ago'
        },
      ],
    };
  },
  props: {
    msg: String
  }
  ,
// computed: {
//   formTitle() {
//     return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
//   },
// },
// watch: {
//   dialog(val) {
//     val || this.close()
//   },
//   dialogDelete(val) {
//     val || this.closeDelete()
//   },
// },

  async created() {
    this.loadFiles(this.$route.query.path);
  },
  methods: {
    async handleChange(value){
      // http://nextcloud_proxy_backend.develop/ocs/v2.php/apps/files_sharing/api/v1/sharees?format=json&itemType=file&search=j&lookup=false&perPage=25&shareType[]=0&shareType[]=1&shareType[]=6&shareType[]=9&shareType[]=7&shareType[]=10&shareType[]=8&shareType[]=12&shareType[]=undefined&shareType[]=4
      // debugger
      console.log(value);
      let ncUsers = await axios.get("http://nextcloud_proxy_backend.develop/ocs/v2.php/apps/files_sharing/api/v1/sharees", {
        params: {
          format: 'json',
          itemType: "file",
          search: value,
          lookup: false,
        },
        auth: this.apiBasicAuth,
        headers: {
          "OCS-APIRequest": true,
        }
      })
      this.people = [];
      ncUsers.data.ocs.data.users.forEach((userLabel, index) => {
        this.people.push({name: userLabel.label});
      });
      // this.usersAlreadyShared = [];
      // usersSharedWith.data.ocs.data.forEach((item, index) => {
      //   this.usersAlreadyShared.push(item.share_with)
      //   this.usersAlreadySharedBackup.push({name: item.share_with, share_id: item.id})
      // });
    },
    closeShareDialog(){
      this.shareDialog = false;
    },
    openShareModal(filename){
      this.shareDialog = true;
      this.selectedFileNameFromFileList = filename;
      this.getUsersSharedWith(filename)
      this.getNextcloudUsers();
    },
    async unshare (selectedItem) {
      let selected = selectedItem.value ? selectedItem.value : selectedItem;
      // let shareId = Array.from(this.usersAlreadySharedBackup).filter(item => item.name === selected)[0].share_id;
      let shareId = Array.from(this.usersAlreadySharedBackup).filter(item => item.name === selected)[0].share_id;
      console.log("this.usersAlreadySharedBackup");
      console.log(this.usersAlreadySharedBackup);
      console.log("Array.from(this.usersAlreadySharedBackup).filter(item => item.name === selected)");
      console.log(Array.from(this.usersAlreadySharedBackup).filter(item => item.name === selected));
      debugger
      await axios.delete('http://nextcloud_proxy_backend.develop/ocs/v2.php/apps/files_sharing/api/v1/shares/' + shareId, {
        headers: {
          "OCS-APIRequest": true,
        },
        auth: this.apiBasicAuth,
      })
          .then(response => {
            console.log(response.data)
          })
          .catch(error => {
            console.log(error)
          })
    },

    async share(user) {
      console.log(user);
      // debugger
        try {
          const response = await axios.post(
              'http://nextcloud_proxy_backend.develop/apps/webapppassword/api/v1/shares',
              {
                path: this.selectedFileNameFromFileList,
                shareType: 0, // 3 represents "user" share type, change it based on your requirements
                shareWith: user,
                permissions: 19,
                password: "admin",
                attributes: null
              },
              {
                headers: {
                  "OCS-APIRequest": true,
                },
                auth: this.apiBasicAuth,
              }
          );
          this.getUsersSharedWith(this.selectedFileNameFromFileList);
          console.log('Share created:', response.data);
        } catch (error) {
          console.error('Error creating share:', error.message);
        }

    },
















    async getUsersSharedWith(filename){
      this.peoples = [];
      let usersSharedWith = await axios.get("http://nextcloud_proxy_backend.develop/ocs/v2.php/apps/files_sharing/api/v1/shares", {
        params: {
          format: 'json',
          path: filename,
          reshares: true,
        },
        auth: this.apiBasicAuth,
        headers: {
          "OCS-APIRequest": true,
        }
      })
      this.usersAlreadyShared = [];
      this.usersAlreadySharedBackup = [];
      usersSharedWith.data.ocs.data.forEach((item, index) => {
        this.usersAlreadyShared.push(item.share_with)
        this.usersAlreadySharedBackup.push({name: item.share_with, share_id: item.id})
      });
    },
    async getNextcloudUsers(){
      let users = await axios.get("http://nextcloud_proxy_backend.develop/ocs/v1.php/apps/files_sharing/api/v1/sharees_recommended", {
        params: {
          format: 'json',
          itemType: "file",
        },
        auth: this.apiBasicAuth,
        headers: {
          "OCS-APIRequest": true,
        }
      })
      this.people = [];
      console.log(users.data.ocs.data.exact.users);
      // debugger
      users.data.ocs.data.exact.users.forEach((userLabel, index) => {
        this.people.push({name: userLabel.label});
      });
    },





















    async loadFiles(path) {
      const client = createClient(
          `http://nextcloud_proxy_backend.develop/remote.php/dav/files/${this.apiBasicAuth.username}`,
          this.apiBasicAuth
      );
      const directoryItems = await client.getDirectoryContents(path);
      this.fileList = [];
      directoryItems.forEach((item, index) => {
        this.fileList.push({
          id: index,
          name: item.filename,
          size: item.size,
          type: item.type,
          // modified: item.type,
          link: this.downloadLink(item.filename)
        });
      });
    },
    downloadLink(filename) {
      const client = createClient(
          `http://nextcloud_proxy_backend.develop/remote.php/dav/files/${this.apiBasicAuth.username}`,
          this.apiBasicAuth
      );
      return client.getFileDownloadLink(filename);
    },
    download(link, name) {
      axios({
        method: 'get',
        url: link,
        responseType: 'blob',
        auth: this.apiBasicAuth,
      })
          .then(response => {
            saveAs(response.data, name);
          })
          .catch(error => {
            console.error('Error downloading the file:', error);
          });
    },
    enterFolder(type, path){
      if (type === 'directory'){
        let newPath = this.$route.query.path + path;
        this.$router.push({query: {path: newPath}})
        this.loadFiles(newPath);
      }

    }
  },
  watch: {
    //new create share
    usersAlreadyShared(newItem, previous){
      let unsharedState = previous.length > newItem.length;
      let sharedState = previous.length < newItem.length;
      console.log("unsharedState")
      console.log(unsharedState)
      console.log("sharedState")
      console.log(sharedState)
      if (unsharedState){
        console.log()
        let justUnSharedWithUserName = previous.filter((element) => !newItem.includes(element))[0];
        this.unshare(justUnSharedWithUserName)
      }
      if (sharedState){
        let justSharedWithUserName = newItem.filter((element) => !previous.includes(element))[0];
        this.share(justSharedWithUserName);
      }
      // console.log("newItem");
      // console.log(newItem);
      // console.log("previous");
      // console.log(previous);
      // debugger
      // let justSharedWithUserName = newItem.filter((element) => !previous.includes(element))[0];
      // this.share(justSharedWithUserName);
      // console.log("justSharedWithUserName");
      // console.log(justSharedWithUserName);
      // debugger
      // debugger
      // let justSharedWithUserId = this.people.filter((element) => element.name === justSharedWithUserName)[0].id;
      // console.log(justSharedWithUserId);
    },
    isUpdating (val) {
      console.log(val)
      try {
        clearTimeout(this.timeout)

        if (val) {
          this.timeout = setTimeout(() => (this.isUpdating = false), 3000)
        }
      }catch (error){
        console.log(error);
      }

    },




    $route(to, from) {
      this.loadFiles(this.$route.query.path);
    },
  },
}
</script>