<template>
  <div class="tw-h-[100vh] tw-flex tw-justify-center tw-items-center login-page">
    <h1 class="tw-mb-4 tw-text-lg tw-font-bold tw-text-white"></h1>
    <v-container class="tw-flex tw-items-center tw-bg-default tw-p-11 tw-w-1/3 tw-rounded-lg">
      <v-row class="tw-flex tw-flex-col tw-justify-center tw-items-center">
        <v-col>
          <v-text-field label="username" variant="outlined" density="compact" color="info" v-model="username"></v-text-field>
        </v-col>
        <v-col>
          <v-text-field label="password" variant="outlined" density="compact" type="password" color="info" v-model="password"></v-text-field>
        </v-col>
        <v-col>
          <v-btn type="submit" color="info" class="tw-w-full" @click="login">
            Login
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>

</template>

<script>
import {createClient} from 'webdav';
import router from "@/router";

export default {
  name: 'CallbackLogin',
  components: {},
  data() {
    return {
      username: '',
      password: '',
    };
  },
  methods: {
    async login() {
      let basic = {username: this.username, password: this.password};
      try {
        const client = createClient(
            "http://nextcloud_proxy_backend.develop/remote.php/dav/files/"+`/${basic.username}`,
            basic
        );
        await client.getDirectoryContents("/");
        await router.push("/dashboard?path=/");
        localStorage.setItem("user_id", basic.username);
        localStorage.setItem("password", basic.password);
        // this.getAccessToken();
      } catch (error) {
        console.error('Error uploading file:', error);
      }
    }
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.fancy-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.fancy-form .form-group {
  margin-bottom: 20px;
}

.fancy-form .form-group label {
  font-weight: bold;
}

.fancy-form .form-group .form-radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fancy-form .form-group .form-radio .custom-control-label {
  font-weight: normal;
}

.fancy-form button[type="submit"] {
  margin-top: 20px;
}

.radio-container {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 10px;
}
.login-page{
  background-image: url("../assets/background.png");
}

:deep(.v-icon) {
//color: red !important;
}
</style>
