<template>
  <button class="oauth-login" @click="reditect()">Login With Nextcloud</button>
</template>

<script>
import axios from 'axios';
export default {
  name: 'OAuthLogin',
  data() {
    return {};
  },
  methods: {
    async authorize(){
      try {
        const response = await axios.get(process.env.VUE_APP_BACKEND_BASE_URL+'/apps/oauth2/authorize', {
          params: {
            client_id: process.env.VUE_APP_CLIENT_ID,
            response_type: 'code',
            scope: 'profile',
            state: 'sina'
          }
        });

        if (response.status === 303) {
          // Get the redirect location from the response headers
          const redirectUrl = response.headers.location;

          // Manually redirect the page
          window.location.href = redirectUrl;
        } else {
          // Handle the response data as needed
          console.log(response.status);
        }
      } catch (error) {
        // Handle any error that occurs
        console.error(error);
      }
    },
    reditect(){
      window.location.href = process.env.VUE_APP_BACKEND_BASE_URL+"/login/flow?clientIdentifier="+process.env.VUE_APP_CLIENT_ID
    }
  },
  created() {
  },
  props: {
    msg: String
  }
}
</script>

<style scoped>
.oauth-login {
  background-color: #ffffff;
  color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.oauth-login:hover {
  background-color: #0056b3;
}
</style>
