<template>
  <div class="file-manager">
    <!--    <button @click="showShareModal = true">Share</button>-->
    <b-modal v-model="showShareModal" title="Modal Title">
      <VueMultiselect
          @select="share(selected)"
          v-model="selected"
          :options="otherUsers">
      </VueMultiselect>
      <h3>{{ selected }}</h3>
      <hr/>
      <h6>users already shared with</h6>
      <ul>
        <li v-for="user in usersShareWith">
          {{ user.user_share_with }}
        </li>
      </ul>
    </b-modal>
    <div class="file-list">
      <ul>

        <!--        <form @submit.prevent="submitForm">-->
        <!--          <input type="file" ref="fileInput" @change="handleFileChange" />-->
        <!--          <b-button class="w-100 mb-2 file-button" @click="uploadFile" t>upload</b-button>-->
        <!--        </form>-->
        <!--        <b-form-form @submit.prevent="uploadFile">-->
        <!--          <b-form-input v-model="selectedFile" @input="handleFileChange" type="file"/>-->
        <div>
          <div>
            <input type="file" @change="handleFileUpload" ref="file">
            <b-button class="w-100 mb-2 file-button" @click="uploadAction">Upload!</b-button>
          </div>
        </div>
        <!--          <b-form-file-->
        <!--              v-model="selectedFile"-->
        <!--              :state="Boolean(selectedFile)"-->
        <!--              placeholder="Choose a file or drop it here..."-->
        <!--              drop-placeholder="Drop file here..."-->
        <!--          ></b-form-file>-->
        <!--          <b-button type="submit">Submit</b-button>-->
        <!--        </b-form-form>-->
        <li v-for="file in fileList" :key="file.id">
          <div class="folder-item" v-if="file.type === 'directory'" @click="appendPath(file.name)">
            <div class="file-info">
              <span class="file-name">{{ file.name }}</span>
              <span class="file-size">{{ file.size }}</span>
            </div>
            <!--            <b-button class="file-button m-1" @click="handleButtonClick(file)">Share</b-button>-->
            <b-button class="file-button m-1" @click="showShareModal = true">Share</b-button>
            <b-button class="file-button" @click="download(file.link, file.name)">Download</b-button>
          </div>
          <div class="file-item" v-if="file.type === 'file'">
            <div class="file-info">
              <span class="file-name">{{ file.name }}</span>
              <span class="file-size">{{ file.size }}</span>
            </div>
            <!--            <b-button class="file-button m-1" @click="handleButtonClick(file)">Share</b-button>-->
            <b-button class="file-button m-1" @click="openShareModal(file.name)">Share</b-button>
            <b-button class="file-button" @click="download(file.link, file.name)">Download</b-button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {saveAs} from 'file-saver';
import {createClient, AuthType} from 'webdav';
import {generateOcsUrl, generateRemoteUrl} from '@nextcloud/router';
import {getCurrentUser} from '@nextcloud/auth';
import VueMultiselect from 'vue-multiselect'

export default {
  components: {
    VueMultiselect
  },
  data() {
    return {
      usersShareWith: [],
      otherUsers: [],
      showShareModal: false,
      apiBasicAuth: {
        username: localStorage.getItem("user_id"),
        password: localStorage.getItem("password"),
      },
      file1: null,
      file2: null,
      fileList: [],
      fileListMock: [
        {
          "id": 0,
          "name": "/Koorosh & Isam - OnlyFans.mp3",
          "size": 7207613,
          "type": "file",
          "link": "http://admin:admin@nextcloud_proxy_backend.develop/remote.php/dav/files/admin/Koorosh%20%26%20Isam%20-%20OnlyFans.mp3"
        },
        {
          "id": 1,
          "name": "/Koorosh & Isam - OnlyFans.mp3",
          "size": 7207613,
          "type": "file",
          "link": "http://admin:admin@nextcloud_proxy_backend.develop/remote.php/dav/files/admin/Koorosh%20%26%20Isam%20-%20OnlyFans.mp3"
        },
        {
          "id": 2,
          "name": "/Koorosh & Isam - OnlyFans.mp3",
          "size": 7207613,
          "type": "file",
          "link": "http://admin:admin@nextcloud_proxy_backend.develop/remote.php/dav/files/admin/Koorosh%20%26%20Isam%20-%20OnlyFans.mp3"
        },
        {
          "id": 3,
          "name": "/Koorosh & Isam - OnlyFans.mp3",
          "size": 7207613,
          "type": "file",
          "link": "http://admin:admin@nextcloud_proxy_backend.develop/remote.php/dav/files/admin/Koorosh%20%26%20Isam%20-%20OnlyFans.mp3"
        },
        {
          "id": 4,
          "name": "/Koorosh & Isam - OnlyFans.mp3",
          "size": 7207613,
          "type": "file",
          "link": "http://admin:admin@nextcloud_proxy_backend.develop/remote.php/dav/files/admin/Koorosh%20%26%20Isam%20-%20OnlyFans.mp3"
        },
      ],
      selectedFile: null,
      fileBuffer: null,
      value: null,
      selected: null,
      options: ['list', 'of', 'options'],
      selectedFileNameFromFileList: null
    };
  },
  methods: {
    async openShareModal(filename) {
      this.usersShareWith = [];
      this.selectedFileNameFromFileList = filename;
      this.showShareModal = true;
      let usersSharedWith = await axios.get("http://nextcloud_proxy_backend.develop/ocs/v2.php/apps/files_sharing/api/v1/shares", {
        params: {
          format: 'json',
          path: filename,
          reshares: true,
        },
        auth: this.apiBasicAuth,
        headers: {
          "OCS-APIRequest": true,
          // "Authorization": "Bearer "+localStorage.getItem("access_token"),
        }
      })
      usersSharedWith.data.ocs.data.forEach((item, index) => {
        this.usersShareWith.push({user_share_with: item.share_with, share_id: item.id})
      });
    },
    async share(selectedUser) {
      // console.log(selectedUser)
      // console.log("*********************")
      // console.log(Array.from(this.usersShareWith))
      let filteredArray = Array.from(this.usersShareWith).filter(item => item.user_share_with === selectedUser);
      if (filteredArray.length > 0) {
        await axios.delete('http://nextcloud_proxy_backend.develop/ocs/v2.php/apps/files_sharing/api/v1/shares/' + filteredArray[0].share_id, {
          headers: {
            // Authorization: "Bearer "+localStorage.getItem("access_token")
            "OCS-APIRequest": true,
          },
          auth: this.apiBasicAuth,
        })
            .then(response => {
              console.log(response.data)
            })
            .catch(error => {
              console.log(error)
            })
      } else {
        try {
          const response = await axios.post(
              'http://nextcloud_proxy_backend.develop/apps/webapppassword/api/v1/shares',
              {
                path: this.selectedFileNameFromFileList,
                shareType: 0, // 3 represents "user" share type, change it based on your requirements
                shareWith: this.selected,
                permissions: 19,
                password: "admin",
                attributes: null
              },
              {
                headers: {
                  "OCS-APIRequest": true,
                  // "Authorization": "Bearer "+localStorage.getItem("access_token"),
                },
                auth: this.apiBasicAuth,
              }
          );

          console.log('Share created:', response.data);
        } catch (error) {
          console.error('Error creating share:', error.message);
        }
      }
      let usersSharedWith = await axios.get("http://nextcloud_proxy_backend.develop/ocs/v2.php/apps/files_sharing/api/v1/shares", {
        params: {
          format: 'json',
          path: this.selectedFileNameFromFileList,
          reshares: true,
        },
        headers: {
          "OCS-APIRequest": true,
          // "Authorization": "Bearer "+localStorage.getItem("access_token"),
        },
        auth: this.apiBasicAuth
      })
      this.usersShareWith = [];

      usersSharedWith.data.ocs.data.forEach((item, index) => {
        this.usersShareWith.push({user_share_with: item.share_with, share_id: item.id})
      });
    },
    handleFileUpload(event) {
      this.selectedFile = event.target.files[0];
    },
    download(link, name) {
      axios({
        method: 'get',
        url: link,
        responseType: 'blob',
        auth: this.apiBasicAuth,
      })
          .then(response => {
            saveAs(response.data, name);
          })
          .catch(error => {
            console.error('Error downloading the file:', error);
          });
    },
    handleButtonClick(file) {
      // Handle button click logic for the specific file
      console.log(`Button clicked for file: ${file.name}`);
    },
    appendPath(path) {
      let newPath = this.$route.query.path + path;
      this.$router.push({query: {path: newPath}})
      this.loadFiles(newPath);
    },
    async loadFiles(path) {
      // const client = createClient(
      //     "http://nextcloud_proxy_backend.develop/remote.php/dav/files/admin/",
      //     {
      //       username: "admin",
      //       password: "admin"
      //     }
      // );
      // const directoryItems = await client.getDirectoryContents("/");

      // const client = createClient(
      //     "http://nextcloud_proxy_backend.develop/remote.php/dav/files/admin",
      //     {
      //       username: "admin",
      //       password: "admin"
      //     }
      // );
      const username = localStorage.getItem("username")
      const client = createClient(
          `http://nextcloud_proxy_backend.develop/remote.php/dav/files/${this.apiBasicAuth.username}`,
          this.apiBasicAuth
      );
      //
      // const client = createClient(
      //     `http://nextcloud_proxy_backend.develop/remote.php/dav/files/${this.apiBasicAuth.username}`,
      //     {
      //       // authType: AuthType.Token,
      //       // token: {
      //       //   access_token: localStorage.getItem("access_token"),
      //       //   token_type: localStorage.getItem("token_type"),
      //       //   expires_in: localStorage.getItem("expires_in"),
      //       //   refresh_token: localStorage.getItem("refresh_token"),
      //       // }
      //       username: this.username,
      //       password: this.password
      //     }
      // );
      // const directoryItems = await client.getDirectoryContents("/");
      const directoryItems = await client.getDirectoryContents(path);
      this.fileList = [];
      directoryItems.forEach((item, index) => {
        this.fileList.push({
          id: index,
          name: item.filename,
          size: item.size,
          type: item.type,
          link: this.downloadLink(item.filename)
        });
      });
      console.log("this.fileList");
      console.log("****************************************");
      console.log(this.fileList);
      console.log('The id is: ' + this.$route.name);
    },
    downloadLink(filename) {
      const client = createClient(
          `http://nextcloud_proxy_backend.develop/remote.php/dav/files/${this.apiBasicAuth.username}`,
          this.apiBasicAuth
      );
      return client.getFileDownloadLink(filename);
    },
    uploadLink(folderName) {
      const client = createClient(
          `http://nextcloud_proxy_backend.develop/remote.php/dav/files/${this.apiBasicAuth.username}`,
          this.apiBasicAuth
      );
      return client.getFileDownloadLink(folderName);
    },
    async uploadAction() {
      const client = createClient(
          `http://nextcloud_proxy_backend.develop/remote.php/dav/files/${this.apiBasicAuth.username}`,
          this.apiBasicAuth
      );
      let uploadLink = client.getFileDownloadLink(this.$route.query.path);
      let formData = new FormData();
      formData.append('file', this.selectedFile);  // Append selected file to the form data
      const config = {
        auth: this.apiBasicAuth,
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      };
      try {
        const response = await axios.put(
            uploadLink + `/${this.selectedFile.name}`,
            formData,
            config
        );
        this.loadFiles(this.$route.query.path);
        console.log('File uploaded successfully:', response);
      } catch (error) {
        console.error('Error uploading file:', error);
      }
    }
  },
  async created() {
    // const request = await axios.get("http://nextcloud_proxy_backend.develop/ocs/v2.php/apps/files_sharing/api/v1/sharees_recommended", {
    //   params: {
    //     format: 'json',
    //     itemType: 'file',
    //   },
    //   headers:{
    //     Authorization: "Bearer "+localStorage.getItem("access_token")
    //   }
    // })


    let users = await axios.get("http://nextcloud_proxy_backend.develop/ocs/v1.php/apps/files_sharing/api/v1/sharees_recommended", {
      params: {
        format: 'json',
        itemType: "file",
      },
      auth: this.apiBasicAuth,
      headers: {
        "OCS-APIRequest": true,
        // "Authorization": "Bearer "+localStorage.getItem("access_token"),
      }
    })
    users.data.ocs.data.exact.users.forEach((userLabel, index) => {
      // let sentence = `index ${index} : I am ${staffDetail.name} a staff of Royal Suites.`;
      // console.log(sentence);
      this.otherUsers.push(userLabel.label);
    });
    this.loadFiles(this.$route.query.path);


    // axios({
    //   method: 'post',
    //   url: "http://nextcloud_proxy_backend.develop/apps/webapppassword/api/v1/shares",
    //   headers: {
    //     Authorization: "Bearer "+localStorage.getItem("access_token")
    //   },
    //   auth: this.apiBasicAuth,
    //   data: {
    //           path: 'welcome.txt',
    //           shareType: 0, // 3 represents "user" share type, change it based on your requirements
    //           shareWith: 'sina',
    //           permissions: 19,
    //           password: "admin",
    //           attributes:""
    //   }
    // })
    //     .then(response => {
    //       // saveAs(response.data, name);
    //     })
    //     .catch(error => {
    //       // console.error('Error downloading the file:', error);
    //     });


    // try {
    //   // /index.php/apps/webapppassword/api/v1/shares.
    //   const response = await axios.post(
    //       'http://nextcloud_proxy_backend.develop/apps/webapppassword/api/v1/shares',
    //       {
    //         path: 'welcome.txt',
    //         shareType: 0, // 3 represents "user" share type, change it based on your requirements
    //         shareWith: 'sina',
    //         permissions: 19,
    //         password: "admin",
    //         attributes:""
    //       },
    //       {
    //         headers:{
    //           "OCS-APIRequest": true,
    //           "Authorization": "Bearer "+localStorage.getItem("access_token"),
    //           "authorization": "Bearer "+localStorage.getItem("access_token"),
    //         }
    //       }
    //   );
    //
    //   console.log('Share created:', response.data);
    // } catch (error) {
    //   console.error('Error creating share:', error.message);
    // }

    // fetch("http://nextcloud_proxy_backend.develop/apps/webapppassword/api/v1/shares", {
    //   "headers": {
    //     "accept": "*/*",
    //     "accept-language": "ca-ES,ca;q=0.9",
    //     "sec-fetch-dest": "empty",
    //     "sec-fetch-mode": "cors",
    //     "sec-fetch-site": "same-site"
    //   },
    //   "referrer": "https://cms-site.org/",
    //   "referrerPolicy": "strict-origin-when-cross-origin",
    //   "body": null,
    //   "method": "OPTIONS",
    //   "mode": "cors",
    //   "credentials": "omit"
    // });
  }
};
</script>

<style>

.file-manager {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://example.com/background.jpg");
  background-size: cover;
  background-position: center;
}

.file-list {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

ul {
  list-style: none;
  padding: 0;
}

.folder-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.file-info {
  flex: 1;
  display: flex;
  align-items: center;
}

.file-name {
  font-weight: bold;
  margin-right: 10px;
}

.file-size {
  color: #888;
}

.file-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.file-button:hover {
  background-color: #0056b3;
}
</style>
