<template>
  <div>
    <div v-if="layout === ''">
      <router-view/>
    </div>
    <div v-if="layout !== ''">
      <component :is="layout">
        <router-view/>
      </component>
    </div>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
<script setup>
import {ref, watch} from "vue";
import {useRoute} from "vue-router";
import defaultLayout from "@/layout/defaultLayout.vue";

const route = useRoute();
const layout = ref("");

watch(route, () => {
  console.log(route)
  if (route.meta['layout']) {
    layout.value = defaultLayout;
  } else {
    layout.value = "";
  }
})

</script>
