<script>
import router from "@/router";

export default {
  name: "defaultLayout",

  data() {
    return {
      items: [
        {title: 'Logout'},
        // {title: 'Next Cloud 2'},
        // {title: 'Next Cloud 3'},
        // {title: 'Next Cloud 4'},
      ],
      drawer: true,
      rail: true
    }
  },
  methods: {
     logout() {
      router.push("/");
    }
  }
}
</script>

<template>
  <div>
    <div class="tw-h-12 tw-w-full tw-bg-[#0082c8] tw-text-white tw-flex tw-justify-end tw-items-center px-2">
      <div class="tw-flex tw-flex-row-reverse tw-justify-around tw-w-full">
        <div class="tw-w-[95%] tw-flex tw-justify-end tw-items-center">
<!--          <v-btn icon="mdi-magnify" variant="text" size="small"></v-btn>-->
<!--          <v-btn icon="mdi-open-in-new" variant="text" size="small" class="tw-mr-3 tw-ml-1"></v-btn>-->
          <v-menu>
            <template v-slot:activator="{ props }">
              <v-btn v-bind="props" icon="mdi-account" size="x-small"></v-btn>
            </template>

            <v-list>
              <v-list-item
                  v-for="(item, i) in items"
                  :key="i"
              >
                <v-list-item-title @click="logout">{{ item.title }} <v-icon>mdi-exit-to-app</v-icon></v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
        <div class="tw-w-10 tw-flex tw-items-center tw-justify-start tw-cursor-pointer">
          <img src="../assets/whitelogo.png" alt="">
        </div>
      </div>
    </div>
    <div class="tw-w-[80%] tw-ml-auto tw-mt-0">
      <slot />
    </div>
  </div>
  <div>
    <!----------------------------   Drawer Menu   ---------------------------------------->
    <v-layout>
<!--      <v-navigation-drawer-->
<!--          v-model="drawer"-->
<!--          :permanent="true"-->
<!--          @click="rail = false"-->
<!--          class="tw-top-12 tw-p-0 tw-bg-gradient-to-b tw-from-[#a8d4eb] tw-to-[#dbedf7] tw-pt-6"-->
<!--      >-->
<!--        <v-list-item-->
<!--            class="tw-flex"-->
<!--            prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"-->
<!--            title="John Leider"-->
<!--            nav-->
<!--        >-->
<!--&lt;!&ndash;          <template v-slot:append>&ndash;&gt;-->
<!--&lt;!&ndash;            <v-btn&ndash;&gt;-->
<!--&lt;!&ndash;                variant="text"&ndash;&gt;-->
<!--&lt;!&ndash;                icon="mdi-chevron-left"&ndash;&gt;-->
<!--&lt;!&ndash;                @click.stop="rail = !rail"&ndash;&gt;-->
<!--&lt;!&ndash;                class="tw-ml-16"&ndash;&gt;-->
<!--&lt;!&ndash;            ></v-btn>&ndash;&gt;-->
<!--&lt;!&ndash;          </template>&ndash;&gt;-->
<!--        </v-list-item>-->

<!--        <v-divider></v-divider>-->

<!--        <v-list density="compact" nav>-->
<!--          <v-list-item prepend-icon="mdi-home-city" title="Home" value="home" class="tw-flex"></v-list-item>-->
<!--          <v-list-item prepend-icon="mdi-account" title="My Account" value="account" class="tw-flex"></v-list-item>-->
<!--          <v-list-item prepend-icon="mdi-account-group-outline" title="Users" value="users"-->
<!--                       class="tw-flex"></v-list-item>-->
<!--          <v-list-item prepend-icon="mdi-exit-to-app" title="Exit" value="exit"-->
<!--                       class="tw-flex" @click="logout"></v-list-item>-->
<!--        </v-list>-->
<!--      </v-navigation-drawer>-->
    </v-layout>
  </div>

</template>

<style scoped>
</style>
